@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-top: 3rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }

    .experience-sub-title {
      font-size: 1.19rem;
    }

    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
    #section {
      margin-top: 8rem;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 0.75rem;
    }
  }
  
  @media screen and (max-width: 600px) {
    #contact,
    footer {
      height: 30vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
      margin-top: 8rem;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }

    .about-containers{
      flex-direction: column;
    }

    .details-container {
      padding: 1.5rem;
      margin: 1rem auto;
    }
    
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
    .experience-details-container {
      flex-direction: column; /* Stack sections vertically on small devices */
    }
  
    .experience-sub-title {
      text-align: center;
      margin-bottom: 0rem; /* Adjust margin for spacing */
    }
  
    .experience-details-container.article-container {
      flex-direction: column; /* Stack articles vertically */
    }
  
    .article-container p {
      font-size: 1rem; /* Adjust font size for readability */
      max-height: 200px; /* Adjust as needed */
      overflow-y: auto; /* Hide overflow content */
      padding: 10px;
      margin: 0;
      display: none; /* Initially hide content */
    }
  
    .toggle.active + .article-container p {
      display: block; /* Show content when active */
    }
  
    .details-container {
      padding: 1.5rem;
      margin: 1rem auto; /* Adjust margin for spacing */
      height: 30px; /* Set initial height for the container */
      overflow: hidden;
      transition: height 0.3s ease-in-out; /* Add smooth transition */
      border: rgb(53, 53, 53) 0.1rem solid;
      border-color: rgb(163, 163, 163);
      text-align: center;
      background: white;
      border-radius: 2rem;
    }
  
    .toggle.active + .details-container {
      height: auto; /* Set height to auto when active */
      padding: 1.5rem; /* Add padding when active */
      margin: 1rem auto; /* Add margin when active */
    }
    #about {
      margin-top: 0;
    }
  }
  